<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_KERN_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_KERN_AE_2ND</key>
	<array>
		<string>AE'</string>
		<string>ae</string>
	</array>
	<key>_KERN_B</key>
	<array>
		<string>B'</string>
		<string>b</string>
	</array>
	<key>_KERN_C</key>
	<array>
		<string>C'</string>
		<string>Ccedilla</string>
		<string>c</string>
		<string>ccedilla</string>
	</array>
	<key>_KERN_D_1ST</key>
	<array>
		<string>D'</string>
		<string>d</string>
	</array>
	<key>_KERN_D_2ND</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
		<string>d</string>
		<string>eth</string>
	</array>
	<key>_KERN_E_1ST</key>
	<array>
		<string>E'</string>
		<string>AE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>_KERN_E_2ND</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>_KERN_Eth_1ST</key>
	<array>
		<string>Eth'</string>
		<string>eth</string>
	</array>
	<key>_KERN_F</key>
	<array>
		<string>F'</string>
		<string>f</string>
	</array>
	<key>_KERN_G</key>
	<array>
		<string>G'</string>
		<string>g</string>
	</array>
	<key>_KERN_H</key>
	<array>
		<string>H'</string>
		<string>h</string>
	</array>
	<key>_KERN_I</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>dotlessi</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>_KERN_J</key>
	<array>
		<string>J'</string>
		<string>j</string>
	</array>
	<key>_KERN_K</key>
	<array>
		<string>K'</string>
		<string>k</string>
	</array>
	<key>_KERN_L</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
		<string>l</string>
		<string>lslash</string>
	</array>
	<key>_KERN_M</key>
	<array>
		<string>M'</string>
		<string>m</string>
	</array>
	<key>_KERN_N</key>
	<array>
		<string>N'</string>
		<string>Ntilde</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>_KERN_O_1ST</key>
	<array>
		<string>O'</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_KERN_O_2ND</key>
	<array>
		<string>O'</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_KERN_P</key>
	<array>
		<string>P'</string>
		<string>p</string>
	</array>
	<key>_KERN_Q</key>
	<array>
		<string>Q'</string>
		<string>q</string>
	</array>
	<key>_KERN_R</key>
	<array>
		<string>R'</string>
		<string>r</string>
	</array>
	<key>_KERN_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
		<string>s</string>
		<string>scaron</string>
	</array>
	<key>_KERN_T</key>
	<array>
		<string>T'</string>
		<string>t</string>
	</array>
	<key>_KERN_Thorn</key>
	<array>
		<string>Thorn'</string>
		<string>thorn</string>
	</array>
	<key>_KERN_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>_KERN_V</key>
	<array>
		<string>V'</string>
		<string>v</string>
	</array>
	<key>_KERN_W</key>
	<array>
		<string>W'</string>
		<string>w</string>
	</array>
	<key>_KERN_X</key>
	<array>
		<string>X'</string>
		<string>x</string>
	</array>
	<key>_KERN_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_KERN_Z</key>
	<array>
		<string>Z'</string>
		<string>Zcaron</string>
		<string>z</string>
		<string>zcaron</string>
	</array>
	<key>_KERN_hyphen</key>
	<array>
		<string>hyphen'</string>
		<string>emdash</string>
		<string>endash</string>
	</array>
	<key>_KERN_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
	</array>
</dict>
</plist>
